html, body, .container {
    height: 100%;
}
.container {
    display: table;
    vertical-align: middle;
}
.vertical-center-row {
    display: table-cell;
    vertical-align: middle;
}

.bottombar {
    position: fixed;
    bottom: 0;
    width: 100%;
}
.topbar {
    position: fixed;
    top: 0;
    width: 100%;
}